.modalOverlayUpdate {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalBoxUpdate {
  background: white;
  width: 92%;
  padding: 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 1rem 0;
}

.modalInputUpdate,
.modalTextareaUpdate {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.modalTextareaUpdate {
  height: 100px;
  resize: none;
}

.modalButtonsUpdate {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

/* .saveBtnUpdate {
  background: green;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}

.saveBtnUpdate {
    padding: 0.7rem 2rem;
    border-radius: 0.8rem;
    background-color: blueviolet;
    color: aliceblue;
    display: flex;
    border: none;
    font-size: 1rem;
    gap: 10px;
}

.saveBtnUpdate:hover{
   background: rgb(1, 162, 1);
}

.cancelBtnUpdate {
  background: #ddd;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
} */


.saveBtnUpdate {
    padding: 0.7rem 2rem;
    border-radius: 0.8rem;
    background-color: blueviolet;
    color: aliceblue;
    display: flex;
    border: none;
    font-size: 1rem;
    gap: 10px;
    justify-content: space-evenly;
}

.saveBtnUpdate:hover {
    background-color: rgb(122, 9, 227);
}

.cancelBtnUpdate:hover {
    background-color: rgb(185, 182, 189);
}

.cancelBtnUpdate {
    padding: 0.7rem 2rem;
    border-radius: 0.8rem;
    background-color: rgb(220, 216, 224);
    color: black;
    display: flex;
    border: none;
    font-size: 1rem;
    gap: 10px;
    justify-content: space-evenly;
}