.notes-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 0 2rem; 
  margin-bottom: 2rem;
}

.notes-title-container{
    display: flex;
    height: 20vh;
    align-items: center;
    justify-content: space-between;
    margin: 0 2rem;
}

.notes-nav p{
    margin-top: 0.5rem;
    word-spacing: 0.2rem;
    color: grey;
}

.add-note{
    padding: 0.7rem 1.2rem;
    border-radius: 0.8rem;
    background-color: blueviolet;
    color: aliceblue;
    display: flex;
    border: none;
    font-size: 1rem;
    gap: 10px;
    justify-content: space-evenly;
}

.add-note:hover{
    background-color:  rgb(118, 16, 214);
}

.empty-wrapper{
    grid-column: 1 / -1;
    width:100%;
    min-height:65vh;

    display:flex;
    justify-content:center;
    align-items:center;
}

.empty-notes{
    max-width:650px;
    text-align:center;
}

.empty-notes i{
    font-size:90px;
    color:#2563eb;
    margin-bottom:20px;
}

.empty-notes h2{
    margin-bottom:15px;
    font-size:34px;
}

.empty-notes p{
    line-height:1.8;
    color:#6b7280;
}

.empty-notes span{
    display:inline-block;
    margin-top:20px;
    padding:12px 18px;
    border-radius:8px;
    background:#eff6ff;
    color:#2563eb;
    font-weight:600;
}


