
.tasks-title-container{
    display: flex;
    height: 20vh;
    align-items: center;
    justify-content: space-between;
    margin: 0 2rem;
}

.tasks-nav p{
    margin-top: 0.5rem;
    word-spacing: 0.2rem;
    color: grey;
}

.add-Task{
    padding: 0.7rem 1.2rem;
    border-radius: 0.8rem;
    background-color: #2563eb;
    color: aliceblue;
    display: flex;
    border: none;
    font-size: 1rem;
    gap: 10px;
    justify-content: space-evenly;
}

.add-Task:hover{
    background-color: #0952ed;
}



